.footer{
    background-color: $color-footer;
    color: $white;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    
    & P, .icons{
        padding-right: 10px;
       margin: 5px 0px;
     
    }
}
i{
    width: 23px;
    height: 16px;    
}
/**** changement couleur logo ****/
.logo__footer{
    filter: invert(100%);
    width: 20%;
    margin: 20px 0px;
}
