.header{
    display: flex;
    flex-direction: column;
   text-align: center;
   background: $white;

} 
.logo{
    padding: 10px;
}
.gps{
    background-color: $gps;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    .icons{
        @include icons;
        
    }
    @include shadow-gps;
}