main {
    @include mobile-only;
   

}
.container-about{
    width: 100%;
    background-color: $color-bg;
   
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}
.presentation{
    text-align: center;
    padding: 0px 30px;
        & h2, p{
       margin: 10px; 
    }
    }
  .container_1, .container_2{
      width: 100%;
      .title-container{
          @include flex__title;
          padding: 0px 20px;
      }
  }

  .menu{
    @include flex__center;
    font-weight:bold;

    & .pick, .choose, .eat{
        @include cards-menu;
        @include shadow-cards;
        &:hover{
            background-color: $primary;

            opacity: 0.5;
        }
    }
    & .icon__gps{
        @include icon_gps;
    }
    }
    .restaurants{
        background-color: $color-bg;
        @include flex__center
    }
    .article{
        @include cards-restaurant;
    }

    /**** pages menu ****/
    .header .main .footer{
        @include mobile-only;
     } 
     .header{
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;

        & .arrow{
            position: absolute;
            left: 30px;
            font-size: 1.5rem;
           top: 2%;
           color: #000;
        }
        }
        img{
            width: 100%;
            object-fit: cover;
            
        }
        .bloc-card{
            Animation-name : fadein ;
            Animation-delay : 0s ;
            Animation-duration : 5s ;
            Animation-direction:normale;
            Animation-iteration-count : 1;
            }
            .restaurants{
                padding: 0px 20Px;
            }
.restaurant-card{
    z-index: 1;
    margin-top: -4rem;
    position: relative ;
    background-color: $color-bg;
    border-radius: 2rem 2rem 0rem 0rem;
    padding: 10px 20px;
    width: 100%;
    .title-heart{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        & .heart{
            font-size: 1.6em;
        }
    }    
    .menu-card{
        @include menu--card;
    }
    .description{
        @include description;
    }
}
.menu-title h5{
    border-bottom: solid 3px $terciary;
    width: 13%;
}
.btn-command{
    display: flex;
    justify-content: center;
}

