main {
    @include mobile-only;
   

}
.container-about{
    width: 100%;
    background-color: $color-bg;
   
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}
.presentation{
    text-align: center;
    padding: 0px 30px;
        & h2, p{
       margin: 10px; 
    }
    }
    .number{
        float: left;
        background-color: $primary;
        color: $white;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 50%;
        text-align: center;
        margin-left: -70px;

    }
  .container_1, .container_2{
      width: 100%;
      .title-container{
          @include flex__title;
          padding: 0px 20px;
      }
  }

  .menu{
    @include flex__center;
    font-weight:bold;

    & .pick, .choose, .eat{
        @include cards-menu;
        @include shadow-cards;
        &:hover{
            background-color: lighten($primary, 30%)

        }
    }
    }
    .icons{
            @include icons;   
            &:hover{
                color: $primary;
            }
        }
    .restaurants{
        background-color: $color-bg;
        @include flex__center
    }
    .article{
        @include cards-restaurant;
    }
   
    /**** pages menu ****/
    .header .main .footer{
        @include mobile-only;
     } 
     .header{
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;

        & .arrow{
            position: absolute;
            left: 30px;
            font-size: 1.5rem;
           top: 2%;
           color:$icons;
        }
        }
        img{
            width: 100%;
            object-fit: cover;
            
        }
        .bloc-card{
            Animation-name : fadein ;
            Animation-duration : 5s ;
            Animation-direction: normale;
            Animation-iteration-count : 1;
            .meal-1 .meal-2 .meal-3{
                animation-delay: 2s;
            }
            }
            .restaurants{
                padding: 0px 20Px;
            }
.restaurant-card{
    z-index: 1;
    margin-top: -4rem;
    position: relative ;
    background-color: $color-bg;
    border-radius: 2rem 2rem 0rem 0rem;
    padding: 10px 20px;
    width: 100%;
    .title-heart{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        & .heart{
            font-size: 1.6em;
        }
    }    
    .menu-card{
        @include menu--card;
    }
}
.menu-title h5{
    border-bottom: solid 3px $terciary;
    width: 50px;
}
.description{
    @include description;
        
    }
.price{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 15px 10px 0;
    
}
 .bloc-menu:hover .check-box{
    @include flex__center;
    animation: slide-left 1s ease ;
    transform-origin: right;
   
    .rotate-on-hover{
        animation: rotation-check 1s ease ;
    }

}
    

.check-box{
    display: none;
    background-color: $terciary;
    color: $white;
    border-radius: 0 1rem 1rem 0;
    height: 80px;
    width: 60px;
    padding: 0px;
    font-size: 30px;
    .rotate-on-hover{
        height: 30px;
        width: 30px;
    }
}
.btn-command{
    display: flex;
    justify-content: center;
}