/**** couleurs ****/
/**** fonts ****/
/**** Breakpoints ****/
/**** mixin pour les breakpoints ****/
/**** mixin box-shadows ****/
/**** mixins flexbox ****/
/**** mixin cards ****/
/**** page menu ****/
.price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 15px 10px 0;
}

h5, p {
  margin: 0px;
}

@keyframes heart-full {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(0.7);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.meal-1 {
  transition-delay: 3s;
}

.meal-2 {
  transition-delay: 5s;
}

.meal-3 {
  transition-delay: 7s;
}

@keyframes slide-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scalex(-50px);
  }
}
@keyframes rotation-check {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  width: 100%;
}

.logo, h2 {
  font-family: "Roboto", Verdana, Sans-Serif;
  font-size: 1.5rem;
  font-weight: bold;
}

h1 {
  font-family: "Shrikhand", Verdana, Sans-Serif;
  font-size: 1.7rem;
  font-style: italic;
}

p, span {
  font-family: "Roboto", Verdana, Sans-Serif;
  font-size: 1rem;
}

h3 {
  font-family: "Roboto", Verdana, Sans-Serif;
  font-size: 1rem;
  margin: 0px 0px 10px 0px;
}

h5 {
  font-family: "Roboto", Verdana, Sans-Serif;
  font-size: 1.3rem;
  font-weight: normal;
}

.btn {
  background: from #ff79da;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  border-radius: 2rem;
  font-size: 1.1rem;
  color: #fff;
  padding: 15px;
  margin-top: 10px;
  font-family: "Roboto", Verdana, Sans-Serif;
  border: none;
  border-color: transparent;
  width: 250px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  opacity: 0.7;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #fff;
}

.logo {
  padding: 10px;
}

.gps {
  background-color: #E4E4E4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.2);
}
.gps .icons {
  margin: 0px 10px;
  color: #747474;
}

@media screen and (max-width: 599px) {
  main {
    width: 100%;
  }
}

.container-about {
  width: 100%;
  background-color: #F2F2F2;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.presentation {
  text-align: center;
  padding: 0px 30px;
}
.presentation h2, .presentation p {
  margin: 10px;
}

.number {
  float: left;
  background-color: #9356DC;
  color: #fff;
  width: 21px;
  height: 21px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  margin-left: -70px;
  padding: 1px;
}

.container_1, .container_2 {
  width: 100%;
}
.container_1 .title-container, .container_2 .title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.menu .pick, .menu .choose, .menu .eat {
  border-radius: 1rem;
  background-color: #F2F2F2;
  border: none;
  padding: 20px 60px;
  margin: 10px;
  width: 90%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.menu .pick:hover, .menu .choose:hover, .menu .eat:hover {
  background-color: #e4d5f6;
}

.icons {
  margin: 0px 10px;
  color: #747474;
}
.icons:hover {
  color: #9356DC;
}

.restaurants {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article {
  background-color: #fff;
  border-radius: 1rem;
  width: 100%;
  height: 18rem;
  margin: 15px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.article img {
  border-radius: 1rem 1rem 0rem 0rem;
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
  object-fit: cover;
}
.article .card-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  color: #000;
}
.article .empty-heart {
  opacity: 1;
  display: flex;
  align-items: baseline;
  font-size: 2em;
  padding: 20px 0;
  width: 32px;
  height: 32px;
}
.article .full-heart {
  opacity: 0;
  display: flex;
  align-items: baseline;
  font-size: 2em;
  margin: -20px 0;
  width: 32px;
  height: 32px;
  background: -webkit-linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.article .full-heart:active {
  opacity: 1;
  -webkit-animation: heart-full 0.1s ease;
  animation: heart-full 0.1s ease;
}
.article .empty-heart:active {
  opacity: 0;
}
.article .new {
  display: flex;
  color: #278870;
  background-color: #99E2D0;
  border-radius: 5px;
  width: 5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  float: right;
  position: absolute;
  right: 2rem;
  margin-top: 1rem;
}

/**** pages menu ****/
@media screen and (max-width: 599px) {
  .header .main .footer {
    width: 100%;
  }
}

.header {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .arrow {
  position: absolute;
  left: 30px;
  font-size: 1.5rem;
  top: 2%;
  color: #747474;
}

img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.bloc-card {
  Animation-name: fadein;
  Animation-duration: 5s;
  Animation-direction: normale;
  Animation-iteration-count: 1;
}
.bloc-card .meal-1 .meal-2 .meal-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.restaurants {
  padding: 0px 20Px;
}

.restaurant-card {
  z-index: 1;
  margin-top: -4rem;
  position: relative;
  background-color: #F2F2F2;
  border-radius: 2rem 2rem 0rem 0rem;
  padding: 10px 20px;
  width: 100%;
}
.restaurant-card .title-heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.restaurant-card .title-heart .heart {
  font-size: 1.6em;
}
.restaurant-card .menu-card .bloc-menu {
  border-radius: 1rem;
  background-color: #fff;
  border: none;
  margin: 10px 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu-title h5 {
  border-bottom: solid 3px #99E2D0;
  width: 50px;
}

.description {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
}

.bloc-menu:hover .check-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-animation: slide-left 1s ease;
  animation: slide-left 1s ease;
  transform-origin: right;
}
.bloc-menu:hover .check-box .rotate-on-hover {
  -webkit-animation: rotation-check 1s ease;
  animation: rotation-check 1s ease;
}

.check-box {
  display: none;
  background-color: #99E2D0;
  color: #fff;
  border-radius: 0 1rem 1rem 0;
  height: 80px;
  width: 60px;
  padding: 0px;
  font-size: 30px;
}
.check-box .rotate-on-hover {
  height: 30px;
  width: 30px;
}

.btn-command {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #353535;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.footer P, .footer .icons {
  padding-right: 10px;
  margin: 5px 0px;
}

i {
  width: 23px;
  height: 16px;
}

/**** changement couleur logo ****/
.logo__footer {
  filter: invert(100%);
  width: 20%;
  margin: 20px 0px;
}

/*# sourceMappingURL=style.css.map */
