/**** couleurs ****/
$primary: #9356DC;
$secondary: #FF79DA;
$terciary: #99E2D0;
$color-bg: #F2F2F2;
$icons: #F4F4F4;
$gps: #E4E4E4;
$numbers: #9356DC;
$color-footer: #353535;
$white:#fff;

/**** fonts ****/

$font-title: 'Shrikhand', Verdana, Sans-Serif;
$font-text: 'Roboto', Verdana, Sans-Serif;


/**** Breakpoints ****/
$breakpoints:(
    mobile: 599px,
);



